html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #464444;
    color: #ffffff;
}

header {
    text-align: center;
    background-image: url('../img/sofa-header.png');
    background-size: cover;
    background-position: top center;
    height: 30%; 
}

main {
    text-align: center;
}

#ou {
    text-align: center;
    padding-top: 20%;
    color: #E65290;
    font-size: 20px;
    font-weight: bold;    
}

.nome-email {
    text-align: left !important;
    padding: 10px;
    margin-left: 33.33333333%;
    width: 33.33333333%;
    text-align: center;
}

footer {
    background-color: #E4E0E0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #464444;
    text-align: center;
}