:root {
    --color-bg: #333;
    
    --color-text: #E5E5E5;
    --color-text-dark: #333;
    --color-text-highlighted: #F5775B;
    --color-text-highlighted-dark: #D14B2C;

    --color-btn-bg: #F5775B;
    --color-btn-text: #FFF;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #464444;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
}

header {
    text-align: center;
    color: var(--color-text-dark);
    font-weight: 600;

    text-shadow: 2px 2px 12px #FFF;

    background-image: url('../img/header_cover.jpg');
    background-size: cover;
    background-position: bottom left;

    min-height: 50vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
main {
    text-align: center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
section {
    margin-bottom: 5vh;
}

.btn {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
}
.btn:hover {
    background-color: var(--color-text-highlighted-dark);
}

.brand-header {
    display: inline-block;
    height: 120px;
    margin-bottom: 5vh;
}
.website-name {
    display: inline-block;
    margin-left: 16px;
}

.text{
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.text p{    
    font-size: 35px;
    color: #FFFFFF;
}

.text p b{
    font-size: 30px;
    color: #E65290;
}

span.text-highlighted {
    color: var(--color-text-highlighted);
}

img.icon ~ p {
    margin-top: 1em;
    font-size: 1.8rem;
}

#section-idade img {
    max-width: 140px;
}
#section-tipo-imovel img {
    max-width: 182px;
}

#ou > * {
    text-align: center;
    color: var(--color-text-highlighted) !important;
    font-weight: 600 !important;
}

.nome-email {
    text-align: left !important;
    padding: 10px;
    margin-left: 33.33333333%;
    width: 33.33333333%;
    text-align: center;
}

.nome-email input{
    border-radius: 10px;
}

input[type="text"], input[type="email"] {
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: #E4E0E0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
}

#section-tipo-de-familia button, #section-renda button {
    width: 200px;
    height: 200px;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-color: transparent !important;
}

#btnFamiliaPequena {
    background-image: url('../img/casal-novinhos.png');
}

#btnFamiliaMedia {
    background-image: url('../img/casal.png');
}

#btnFamiliaGrande {
    background-image: url('../img/casal-velhinhos.png');
}

#btnFamiliaGG {
    background-image: url('../img/casal-velhinhos.png');
}

#btnRendaPequena {
    background-image: url('../img/casal-novinhos.png');
}

#btnRendaMedia {
    background-image: url('../img/casal.png');
}

#btnRendaGrande {
    background-image: url('../img/casal-velhinhos.png');
}

#btnRendaGG {
    background-image: url('../img/casal-velhinhos.png');
}